<app-invasive-loader class="invasive-loader" *ngIf="showInvasiveLoader"></app-invasive-loader>
<div class="authentication-wrapper__container">
  <div class="authentication__inner-header">
    <h1 class="authentication-title">Vive.Crece.Cosecha</h1>
    <h2 class="authentication-subtitle authentication-subtitle--middle">Recupera tu contraseña</h2>
  </div>
  <form class="autentication__form" *ngIf="!recoveryRequestStatus" [formGroup]="recoveryPasswordForm" >
    <mat-form-field floatLabel="never" [ngClass]="{ 'mat-form-field-invalid': errors }"> <!-- not working when I used mat-form-field-invalid -->
      <input matInput [type]="email" placeholder="Usuario" formControlName="email">
    </mat-form-field>
    <p class="fs-12px text-danger text-center mt-0">{{ errors ?'Usuario incorrecto, favor de verificar.': ''}}</p>
    <button class="authentication__button" mat-raised-button color="primary" (click)="doRecovery()" >Enviar</button>
    <a class="authentication-middle-link authentication-primary-link" [routerLink]="['/']">Iniciar sesión</a>
  </form>
  <div class="authentication__msg" *ngIf="recoveryRequestStatus">
    <h3>Te hemos enviado instrucciones por correo para restablecer tu contraseña.</h3>
    <a class="authentication-middle-link authentication-primary-link" [routerLink]="['/']">Volver a inicio de sesión</a>
  </div>
  <div class="authentication__map"></div>
</div>



