<div class="catalog-inner-header">
    <div class="flex flex-align-items-center">
      <h3 class="catalog__label-detail">Unidad de negocio:</h3>
      <span class="pr-10px">Viva Organica</span>
    </div>
    <div class="catalog__group-buttons">
      <button mat-button mat-raised-button color="warn" class="mr-8px" (click)="openDialog()">Inhabilitar</button>
      <button mat-button mat-raised-button color="primary" (click)="_showLotSection(true,4)">Editar</button>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-7 col-md-12 catalog__canvas-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2756.976995511587!2d-107.61560188662237!3d24.918373167335503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcc10461ddad63%3A0x7aab5c996dec6946!2sPanteon+Tamarindo!5e1!3m2!1ses!2smx!4v1528859670019" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-5 col-md-12 pr-0">
        <h3 class="catalog__title">Detalle de Lote</h3>
        <div class="catalog__data-detail">
          <label>Tipo de invernadero:</label>
          <span>GH</span>
        </div>
        <div class="catalog__data-detail">
          <label>Nombre:</label>
          <span>Lote 1</span>
        </div>
        <div class="catalog__data-detail">
          <label>Superficie total (mts&#178;):</label>
          <span>1.33 km&#178; ( 14,271,119.85 pies&#178;)</span>
        </div>
        <div class="catalog__data-detail">
          <label>Distancia total (km):</label>
          <span>4.66 km (2.89 mi)</span>
        </div>
        <div class="flex">
          <div class="flex-50 mr-10px catalog__data-detail">
            <label>No. de tablas:</label>
            <span>9</span>
          </div>
          <div class="flex-50 mr-10px catalog__data-detail">
            <label>No. de arcos:</label>
            <span>2</span>
          </div>
        </div>
        <div class="flex">
          <div class="flex-50 mr-10px catalog__data-detail">
            <label>No. de surcos:</label>
            <span>9</span>
          </div>
          <div class="flex-50 mr-10px catalog__data-detail">
            <label>No. de cuadrantes:</label>
            <span>2</span>
          </div>
        </div>
        <div class="catalog__data-detail">
          <label>Tipo de suelo:</label>
          <span>Arenoso</span>
        </div>
        <div class="catalog__group-buttons-line">
          <button class="catalog__button rounded-btn" mat-button mat-raised-button color="accent">
            <mat-icon>add</mat-icon>
            Agregar etapa
          </button>
        </div>
      </div>
    </div>
  </div>
