<app-invasive-loader class="invasive-loader" *ngIf="showInvasiveLoader"></app-invasive-loader>
<div class="authentication-wrapper__container">
  <div class="authentication__inner-header">
    <h1 class="authentication-title">Vive.Crece.Cosecha</h1>
    <h2 class="authentication-subtitle  authentication-subtitle--middle">{{ !resetRequestStatus ? 'Nueva contraseña' : 'Token inválido' }}</h2>
  </div>
  <form class="autentication__form" *ngIf="!resetRequestStatus" [formGroup]="resetPasswordForm">

    <mat-form-field floatLabel="never" [ngClass]="{ 'mat-form-field-invalid': matchErrors }">
      <input matInput placeholder="Nueva contraseña" [type]="'password'" formControlName="password">
    </mat-form-field>
    <mat-form-field floatLabel="never" [ngClass]="{ 'mat-form-field-invalid': matchErrors }">
      <input matInput [type]="'password'" placeholder="Confirmar contraseña" formControlName="new_password">
    </mat-form-field>
    <p class="fs-12px text-danger text-center mt-0">{{ matchErrors ? errorMessage : ''}}</p>
    <button class="authentication__button" mat-raised-button color="primary" (click)="doResetPassword()">Guardar</button>
  </form>
  <div class="authentication__msg" *ngIf="resetRequestStatus">
    <h3>Ha ocurrido un problema, el link seleccionado ha expirado.</h3>
    <a class="authentication-middle-link authentication-primary-link" [routerLink]="['/']">Iniciar sesión</a>
  </div>
  <div class="authentication__map"></div>
</div>
