<div class="message-bar" [ngClass]="{
   'is-not-visible': !showAlert,
   'is-visible': showAlert,
   'message-bar__error': !tipo,
   'message-bar__success': tipo }">
    <p class="message-bar__text">{{ mensaje }}</p>
    <div class="message-bar__close" (click)="showAlert =!showAlert">
        <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <title>CA357A95-E87D-44E4-A129-749B7763F194</title>
            <desc>Created with sketchtool.</desc>
            <defs></defs>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-851.000000, -152.000000)">
                    <g transform="translate(851.000000, 152.000000)">
                        <!--<rect id="Rectangle-4" stroke="#181818" fill="#2C2C2C" x="0.5" y="0.5" width="35" height="35" rx="1"></rect>-->
                        <g class="close-svg" transform="translate(18.000000, 18.000000) rotate(-315.000000) translate(-18.000000, -18.000000) translate(10.000000, 10.000000)" fill-rule="nonzero">
                            <polygon id="Shape" points="9.79561238 0.683574095 6.17214602 0.683574095 6.17214602 6.11877364 0.736946469 6.11877364 0.736946469 9.74224001 6.17214602 9.74224001 6.17214602 15.1774396 9.79561238 15.1774396 9.79561238 9.74224001 15.2308119 9.74224001 15.2308119 6.11877364 9.79561238 6.11877364"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
