/**
 * Dialog settings
 */

/* import base settings
 ******************************************************************************/
 @import '../../../../assets/sass/settings/all';
 @import '../../../../assets/sass/tools/all';

.mat-dialog-container{
  background-color: $color-brand-accent;
  padding: 0;

  .mat-dialog-content {
    padding: 0;
    width: 100%;
    margin: 0;
    .dialog-header{
      align-items: center;
      background-color: $color-gray-dark;
      display: flex;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 22px;
      padding-right: 6px;

      .mat-dialog-title{
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        margin-bottom: 0;
      }
      .close{
        margin-left: auto;
        .mat-icon{
          height: 36px;
          width: 36px;
          g{
            opacity: 1;
          }
        }
      }
    }
    label.flex-33{
      min-width: 133px;
      max-width: 133px;
    }
    .mat-form-field{
      text-align: left;
      width: 100%;
     .mat-form-field-flex{
      display: flex;
      align-items: center;
     }
      .mat-form-field-suffix{
        .mat-icon.icon-invalid{
            height: 36px;
            width: 36px;
            g { opacity: 1; }
            polygon { fill: $color-brand-warn; }
        }
        .mat-icon.icon-valid{
          padding-right: 10px;
          width: 26px;
          polygon { fill: $color-brand-primary; }
        }
      }
    }
  }
  .mat-dialog-actions{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 23px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    margin-top: 0px;
    .mat-button{
      border-radius: 1px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
