<div class="invasive-loader__wrapper">
  <svg class="svg" width="110" height="110" viewBox="0 0 110 110" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="gradient" x1="-24.185%" y1="174.225%" x2="72.961%" y2="27.039%">
        <stop stop-color="#204495" offset="0%"/>
        <stop stop-color="#4780FF" offset="100%"/>
      </linearGradient>
    </defs>
    <circle class="svg-circle" cx="55" cy="55" r="44" stroke="url(#gradient)" stroke-width="13" fill="none"/>
  </svg>
</div>
