/**
 * line separator styles
 *
*/

// used in details components - horizontal
.line-separator{
  background-color: $color-white;
  height: 1px;
  min-width: 112px;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  position: relative;
}
.line-separator::before{
  background-color: $color-brand-accent;
  content: 'o';
  font-size: 17px;
  height: 20px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  top: -11px;
  width:20px;
}

// used vertical line-blurred-separator

[class*="line-blurred-separator"] {
  position: relative;
  &::before{
    background-color: $color-brand-accent-900;
    content: '';
    position: absolute;
    opacity: .6;
    top: 50%;
    width: 1px;
  }
}

.line-blurred-separator{
  &--center::before{
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60%;
  }
  &--end::before{
    right: 0;
    transform: translateY(-50%);
    height: 100%;
  }
}
