/*
 * GLOBAL BODY ELEMENT
 */

// body settings
$main-content-spacing: 30px;

$body-size-font: 13px;
$body-roboto-font: 'Roboto', sans-serif;
$body-base-color:  $color-gray-light-b;
$body-background-color:  $color-gray-dark;
