/*
 * COLOR PALETTES
 * brand color palletes used for the angular material theme
 */


/* palettes
 ******************************************************************************/
 $primary-color-palette: (
  50 : #e9f0ff,
  100 : #c8d9ff,
  200 : #a3c0ff,
  300 : #7ea6ff,
  400 : #6393ff,
  500 : #4780ff, //main
  600 : #4078ff,
  700 : #376dff,
  800 : #2f63ff,
  900 : #2050ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #cfd8ff,
  A700 : #b6c4ff,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #000,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);

$accent-color-palette: (
    50 : #e6e6e6,
    100 : #c0c0c0,
    200 : #969696,
    300 : #6b6b6b,
    400 : #4c4c4c,
    500 : #2c2c2c, //main
    600 : #272727,
    700 : #212121,
    800 : #1b1b1b,
    900 : #101010,
    A100 : #ee6969,
    A200 : #e93b3b,
    A400 : #f10000,
    A700 : #d80000,
    contrast: (
        50 : #000,
        100 : #000,
        200 : #000,
        300 : #fff,
        400 : #fff,
        500 : #fff,
        600 : #fff,
        700 : #fff,
        800 : #fff,
        900 : #fff,
        A100 : #000,
        A200 : #fff,
        A400 : #fff,
        A700 : #fff,
    )
);

$warn-color-palette: (
  50 : #ffe0e4,
  100 : #ffb3bc,
  200 : #ff808f,
  300 : #ff4d62,
  400 : #ff2641,
  500 : #ff001f, //main
  600 : #ff001b,
  700 : #ff0017,
  800 : #ff0012,
  900 : #ff000a,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfc0,
  A700 : #ffa6a7,
  contrast: (
      50 : #000,
      100 : #000,
      200 : #000,
      300 : #000,
      400 : #fff,
      500 : #fff,
      600 : #fff,
      700 : #fff,
      800 : #fff,
      900 : #fff,
      A100 : #000,
      A200 : #000,
      A400 : #000,
      A700 : #000,
  )
);
