/*
 * CUSTOM MATERIAL SELECT CONTROL
 */

.mat-rounded-select {
  .mat-form-field-underline {
    display: none;
  }

  .mat-select {
    border-radius: 11px;
    border: 1px solid $color-gray-cod;
    color: $color-white;
    padding: 3px 18px;
  }

  .mat-select-value-text {
    font-size: 12px;
  }

  .mat-select-arrow,
  .mat-select-value-text,
  &.mat-focused.mat-primary .mat-select-arrow,
  .mat-form-field-label {
    color: $color-white;
  }

  // errors
  &.mat-form-field-invalid {
    .mat-select {
      border-color: $color-brand-warn;
    }

    .mat-select-arrow,
    .mat-select-value-text,
    .mat-select-arrow {
      color: $color-brand-warn !important; // for override
    }
  }

  .mat-form-field-label {
    padding: 3px 16px 0;
    font-size: 12px;
  }

  .mat-form-field-infix {
    border: none;
    padding: 0;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }
}


// mat-form-field-filled input custom

.mat-form-select-field-filled{
  text-align: center;

  .mat-form-field-underline,.mat-form-field-label {
    display: none!important;
  }
  .mat-select {
    align-items: center;
    color: $color-white;
    border: 1px solid $color-brand-accent-900;
    display: flex;
    min-height: 36px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-select-value-text{
    color: $color-white-60;
  }
  .mat-select-placeholder {
    color: currentColor!important;
  }
  &.mat-form-field.mat-focused.mat-accent .mat-select-arrow, &.mat-focused .mat-select-value-text{
    color: $color-white;
  }
  &.mat-focused.mat-form-field-invalid .mat-select-value-text,
  &.mat-focused.mat-form-field-invalid .mat-select-value,
  &.mat-form-field-invalid .mat-select-value,
  &.mat-form-field.mat-form-field-invalid.mat-focused.mat-accent .mat-select-arrow,
  &.mat-form-field.mat-form-field-invalid.mat-accent .mat-select-arrow{
    color: $color-brand-warn!important;
  }
  &.mat-form-field-invalid .mat-select,
  &.mat-focused.mat-form-field-invalid .mat-select{
    border-color: $color-brand-warn;
  }
  .mat-form-field-infix, .mat-form-field-wrapper{
    padding-bottom: 0;
  }
  .mat-form-field-infix{
    border: none;
    padding-top: 0;
  }
}



