/*
 * SIZE UTILITIES
 */
 .h-100{
   height: 100%;
 }
.w-100{
  width: 100%;
}
.mw-40{ max-width: 40%;}
.mw-42px  { max-width: 42px  }
.mw-54px{ max-width: 54px;}
.mw-60px{ max-width: 60px;}
.mw-68px{ max-width: 68px;}
.mw-75px{ max-width: 75px;}
.mw-85px  { max-width: 85px  }
.mw-100px{ max-width: 100px;}
.mw-120px{ max-width: 120px;}
.mw-160px { max-width: 160px }
.mw-350px{ max-width: 350px;}

.minw-60px{ min-width: 60px;}
.minw-68px{ min-width: 68px!important;}
.minw-120px{ min-width: 120px;}
.minw-140px{ min-width: 140px;}
.minw-194px { min-width: 194px }
.minw-210px{ min-width: 210px;}
.minw-218px { min-width: 218px }
.minw-222px{ min-width: 222px;}
.minw-225px{ min-width: 225px;}
.minw-235px { min-width: 235px }
.minw-400px{ min-width: 400px;}
.minw-500px{ min-width: 500px;}


.max-height-36px  { max-height: 36px  }

.min-height-36px  { min-height: 36px  }
.min-height-480px { min-height: 480px }
